@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Josefin Sans";
  color: black;
  font-weight: 500;
  background: #fafafa;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eaeaea;
}

._container {
  max-width: 1120px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

._button {
  padding: 8px 0;
  width: 105px;
  height: 28px;
  border: 1px solid #c2c2c2;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  -webkit-background-clip: text;
          background-clip: text;
}
._button:hover {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #67c4c4;
}
._button:focus {
  -webkit-box-shadow: 0 0 10px #67c4c4;
          box-shadow: 0 0 10px #67c4c4;
}

body._lock {
  overflow: hidden;
}

/*---------PAGE---------------------------------------------*/
/*---------BIG-LOGO---------------------------------------------*/
.big_logo {
  padding: 250px 0 119px 0;
}
/*---------HEADER---------------------------------------------*/
.header {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 102px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8f8f8;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(11, 12, 12, 0.15);
          box-shadow: 0px 0px 13px 0px rgba(11, 12, 12, 0.15);
}
.header_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 0 0 0 94px;
}
@media (max-width: 1120px) {
  .header_logo {
    padding: 0 0 0 20px;
  }

  .header_search.search {
    margin: 0 20px 0 0;
  }
}
@media (min-width: 967px) {
  .menu_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu_list > li {
    padding: 10px 0;
  }
}
@media (max-width: 967px) {
  .big_logo {
    display: none;
  }

  .header {
    position: fixed;
  }

  .header_search.search {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0 20px;
  }

  .header_menu.menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0 20px 0 0;
  }

  .menu_icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }

  .menu_icon:before,
.menu_icon:after,
.menu_icon span {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }

  .menu_icon:before,
.menu_icon:after {
    content: "";
  }

  .menu_icon:before {
    top: 0;
  }

  .menu_icon:after {
    bottom: 0;
  }

  .menu_icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }

  .menu_icon._active span {
    -webkit-transform: scale(0) translate(0, -50%);
        -ms-transform: scale(0) translate(0, -50%);
            transform: scale(0) translate(0, -50%);
  }

  .menu_icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }

  .menu_icon._active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }

  .menu_body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fbfcfd;
    opacity: 0.7;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu_body._active {
    left: 0;
  }
  .menu_body._active .menu_sub-list.open {
    display: block;
    z-index: 2;
    position: relative;
    left: 0;
    top: -10px;
    padding: 10px 0 0 0;
  }
  .menu_body._active .menu_sub-list.open .menu_sub-link {
    font-size: 16px;
    font-weight: 500;
  }

  .menu_body:before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }

  .menu_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu_item {
    padding: 20px 0;
  }

  .menu_list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 0 30px 0;
  }

  .menu_list > li:last-child {
    margin-bottom: 0;
  }

  .menu_list > li._active .menu__sub-list {
    display: block;
  }

  .menu_link {
    font-size: 24px;
  }

  .menu_sub-link {
    font-size: 20px;
    color: #000;
  }
}
.menu {
  padding: 5px 0;
}
.menu_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu_item {
  position: relative;
}
.menu_item:not(:last-child) {
  margin: 0 25px 0 0;
}
.menu_link {
  line-height: 1.2;
  color: black;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
.menu_link:hover {
  text-decoration: underline;
  color: #629494;
}
.menu li {
  list-style: none;
  position: relative;
}
.menu:active .menu_icon-lines {
  background-color: transparent;
}
.menu:active .menu_icon-lines:before {
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu:active .menu_icon-lines:after {
  top: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu:active .menu_body {
  right: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.menu_sub-list {
  display: none;
  position: absolute;
  left: -15px;
  top: 20px;
  padding: 20px 0 0 0;
  opacity: 0.7;
}
.menu_sub-list > li {
  background-color: #fff;
}
.menu_sub-list li {
  padding: 0 20px 0 20px;
}
.menu_sub-list li:first-child {
  padding: 10px 20px 0 20px;
}

.menu_sub-link {
  font-size: 12px;
  line-height: 32px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: black;
  display: block;
}
.menu_sub-link:hover {
  text-decoration: underline;
  font-weight: 500;
  color: #000000;
}

body._pc .menu_item:hover .menu_sub-list {
  display: block;
}
body._touch .menu_arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}
body._touch .menu_arrow.active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 94px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 2;
}

.search-form {
  width: 162px;
  height: 28px;
  border: 1px solid #c2c2c2;
  font-family: "Josefin Sans";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  text-transform: uppercase;
  background-color: #f8f8f8;
  text-align: center;
}
.search-form:focus {
  -webkit-box-shadow: 0 0 10px #67c4c4;
          box-shadow: 0 0 10px #67c4c4;
}

.search-button {
  position: absolute;
  top: 6px;
  left: 7px;
  background-color: #f8f8f8;
}

.fa-search {
  font-size: 12px;
  line-height: 1.2;
  color: #c1c1c1;
}

/*---------MAIN-BLOCK---------------------------------------------*/
.main-block {
  margin-top: 102px;
}
.main-block_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 438px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 420px) {
  .main-block_container {
    height: 100%;
  }
}
.main-block_background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 989px) {
  .main-block_background {
    opacity: 0.2;
  }
}
@media (max-width: 420px) {
  .main-block_background {
    opacity: 1;
    position: relative;
  }
  .main-block_background img {
    height: auto;
    -o-object-position: center;
       object-position: center;
    position: relative;
  }
}
.main-block_background img {
  -o-object-position: right;
     object-position: right;
}
.main-block_body {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0 50px 92px;
}
@media (max-width: 1080px) {
  .main-block_body {
    padding: 30px 0 30px 15px;
  }
}
@media (max-width: 420px) {
  .main-block_body {
    display: none;
  }
}
.main-block_title {
  font-family: "Playfair Display";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.01em;
  color: #921026;
}
.main-block_text {
  line-height: 1.2;
  letter-spacing: -0.065em;
  max-width: 320px;
}
.main-block_hidden-button {
  display: none;
  padding: 24px 0 31px;
  text-align: center;
}
.main-block_hidden-button a {
  font-family: "Josefin Sans";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  text-transform: uppercase;
}

/*---------RECIPES---------------------------------------------*/
.recipes {
  margin-top: 86px;
}
.recipes_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 72px 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}
.recipes_body {
  padding: 40px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 989px) {
  .recipes_body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 989px) {
  .recipes_column:not(:last-child) {
    padding: 0 0 20px 0;
  }
}
.recipes_picture {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recipes_picture img {
  width: 100%;
  height: auto;
}
.recipes_title {
  padding-left: 20px;
  margin: 15px 0 0 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -0.065em;
  color: #000000;
}
.recipes_info {
  padding-left: 20px;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #555555;
}

/*---------CAKE---------------------------------------------*/
.cake {
  margin-top: 86px;
}
@media (max-width: 420px) {
  .cake {
    display: none;
  }
}
.cake_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 438px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}
@media (max-width: 869px) {
  .cake_container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.cake_background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.cake_background img {
  -o-object-position: left;
     object-position: left;
}
@media (max-width: 869px) {
  .cake_background {
    display: none;
  }
}
.cake_body {
  padding: 29px 69px 0 556px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}
@media (max-width: 989px) {
  .cake_body {
    padding-right: 20px;
  }
}
@media (max-width: 869px) {
  .cake_body {
    padding-left: 20px;
  }
}
.cake_title {
  font-family: "Playfair Display";
  font-size: 32px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #055555;
}
.cake_save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.cake_difficult :nth-child(2) {
  font-family: "Open Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #555555;
}
.cake_difficult :nth-child(4) {
  font-family: "Josefin Sans";
  font-style: normal;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #555555;
}
.cake_button {
  margin: 15px 0;
}
.cake_button-get {
  background-color: #ffffff;
}
.text {
  overflow: overlay;
  margin: 0 0 30px 0;
  line-height: 1.2;
  letter-spacing: -0.065em;
  max-width: 490px;
}
@media (max-width: 869px) {
  .text {
    max-width: none;
  }
}
.text_subtitle {
  padding: 25px 0;
  font-family: "Playfair Display";
  font-weight: 700;
}
.text_subtitle a {
  padding-right: 10px;
}
.text_recipe {
  overflow: hidden;
}

.fa-facebook-f {
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #555555;
}

/*---------LETTER---------------------------------------------*/
.letter {
  margin-top: 140px;
}
.letter_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1080px) {
  .letter_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.letter_background-error {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.letter_background-error img {
  -o-object-position: center;
     object-position: center;
}
.letter_column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 518px;
  height: 518px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}
.letter_body {
  width: 440px;
  z-index: 2;
}
.letter_title {
  display: inline-block;
  font-family: "Josefin Sans";
  font-style: italic;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
  border-bottom: 2px solid #dddddd;
  padding: 20px 0 0 10px;
  width: 440px;
}

.error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.error_about {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.error_title {
  font-family: "Josefin Sans";
  font-size: 34px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #000000;
  text-align: center;
}
.error_message {
  font-family: "Playfair Display";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #a9a9a9;
  width: 135px;
  text-align: center;
}
.error_sign {
  font-family: "Playfair Display";
  font-size: 33.4px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #a9a9a9;
  -webkit-transform: translate(5px, 0) rotate(75deg);
      -ms-transform: translate(5px, 0) rotate(75deg);
          transform: translate(5px, 0) rotate(75deg);
}
.error_sign i {
  font-family: Sylfaen;
  font-style: normal;
  font-weight: 400;
}
.error_form {
  padding: 0 0 52px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.author_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 20px 0 0 0;
}
.author_text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 20px;
}
.author_name {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #000000;
}
.author_country {
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  padding: 5px 0 0 0;
}
.author_social {
  padding: 10px 0 15px 0;
  border-bottom: 2px solid #dddddd;
}
.author_social a {
  opacity: 0.5;
  font-family: "Font Awesome";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #555555;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.author_social a:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #67c4c4;
}
.author_social :not(:last-child) {
  padding: 0 5px 0 0;
}
.author_social :nth-child(3) {
  font-size: 14.3px;
}
.author_title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
  padding: 25px 0;
}
.author_letter {
  font-size: 14px;
  line-height: 1.2;
  font-style: italic;
  letter-spacing: -0.065em;
  color: #000000;
}
.author_sign {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0 0 30px 0;
}

@media (max-width: 1080px) {
  .column-error {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 530px) {
  .letter {
    display: none;
  }
}
/*---------CARDS---------------------------------------------*/
.card-back {
  width: 290px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}

.cards {
  margin-top: 78px;
}
.cards_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.cards_items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
}

.items-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.items-cards .card-back:not(:last-child) {
  margin: 0 0 48px 0;
}

.item_cards-chi {
  height: 349px;
}
.chi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.chi_title {
  display: block;
  font-family: "Playfair Display";
  font-size: 22px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #055555;
  border-bottom: 2px solid #dddddd;
  width: 252px;
  padding: 25px 0 15px 0;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.chi_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 10px 0;
}
.chi_foto {
  padding: 0 0 0 22px;
}
.chi_recipe {
  font-weight: 300;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 25px 0 0;
}
.chi_recipe :not(:last-child) {
  padding: 0 0 2px 0;
}
.chi_recipe :nth-child(2) {
  font-weight: 700;
}
.recipes_info {
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #555555;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 0 18px;
}
.category_line {
  width: 252px;
  border-bottom: 2px solid #dddddd;
}
.category_line-white {
  border-bottom: 2px solid #ffffff;
}
.category_line-short {
  border-bottom: 2px solid #555555;
  opacity: 0.2;
}
.category_title {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: block;
  font-size: 20px;
  font-style: italic;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  padding: 30px 0 8px 0;
}
.category_icons a {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.025em;
  color: #555555;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.category_icons a:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #67c4c4;
}
.category_icons :nth-child(3) {
  font-size: 14.3px;
}
.category_icons :not(:last-child) {
  padding: 0 8px 0 0;
}

.body-target {
  padding: 0 50px 0 28px;
}
.body-target_subtitle {
  padding: 20px 0 40px 0px;
  font-family: "Playfair Display";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #055555;
}
.body-target_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.body-target_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}
.body-target_row:first-child .body-target_percent {
  border: 2px solid #b50051;
}
.body-target_row:nth-child(2) .body-target_percent {
  border: 2px solid #055454;
}
.body-target_row:last-child .body-target_percent {
  border: 2px solid #87d0c5;
}
.body-target_percent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-width: 58px;
  height: 58px;
  background-color: #b7b7b7;
  background-image: -o-linear-gradient(225deg, #d6d6d6 0%, #ffffff 100%);
  background-image: linear-gradient(225deg, #d6d6d6 0%, #ffffff 100%);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
  font-weight: 300;
  border: 1px solid #b7b7b7;
  border-radius: 30px;
}
.body-target_content {
  padding: 0 0 0 22px;
}
.body-target_title {
  margin: 0 0 7px 0;
  font-size: 18px;
  font-weight: 300;
  color: #555555;
}
.body-target_text {
  opacity: 0.5;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  font-style: italic;
  letter-spacing: -0.065em;
}

.recipe_body {
  padding: 15px 0 0 0;
}

.body-recipe_difficult {
  padding: 0 0 30px 0;
  text-align: center;
}
.body-recipe_difficult :first-child {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #000000;
}
.body-recipe_difficult :nth-child(2) {
  padding: 0 30px;
}
.body-recipe_difficult a {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #000000;
}
.body-recipe_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px 0 20px;
}
.body-recipe_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.body-recipe_content {
  padding: 0 0 35px 15px;
}
.body-recipe_title {
  padding: 0 0 5px 0;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #000000;
}
.body-recipe_title i {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
}
.body-recipe_text {
  line-height: 100%;
  font-weight: 600;
  letter-spacing: -0.065em;
  color: #000000;
}
.body-recipe_form {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: -10px 0 15px 0;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tags_category {
  margin: 0 0 -5px 0;
}
.tags_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 15px 0;
  font-size: 12px;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: -0.065em;
}
.tags_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tags_content li {
  display: block;
  padding: 0 10px 15px 0;
}
.tags_content a {
  color: #000000;
}
.tags_content a:hover {
  text-decoration: underline;
}

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 18px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.calendar_category {
  margin: 0 0 -5px 0;
}
.calendar_table {
  padding: 22px 15px 36px 15px;
}
.calendar_month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.calendar_month-leftarr {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #555555;
}
.calendar_month-rightarr {
  display: block;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #555555;
}
.calendar_month-month {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
}
.calendar-list td {
  width: 35px;
}
.calendar-list_weeks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.calendar-list_weeks :nth-child(2) :nth-child(-n+4) {
  color: #9e9e9e;
}
.calendar-list_weeks :last-child :last-child {
  color: #9e9e9e;
}
.calendar-list_days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 10px 0;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: 0.025em;
}
.calendar-list_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.025em;
}
.calendar-list_numbers i {
  display: inline-block;
}

.popular {
  height: 349px;
  position: relative;
  background-color: #988f8f;
  padding: 27px 18px 0 18px;
}
.popular_background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popular_category {
  position: relative;
  z-index: 2;
}
.popular_under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 0 0;
}
.popular_get {
  position: relative;
  z-index: 2;
}
.popular_get-button {
  -webkit-background-clip: text;
          background-clip: text;
}
.popular_info {
  position: relative;
  z-index: 2;
  padding: 0 0 0 8px;
  font-family: "Open Sans";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #555555;
}

.category-popular_title {
  padding: 0 0 8px 0;
  font-family: "Playfair Display";
  font-size: 32px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #921026;
}
.category-popular_subtitle {
  padding: 20px 0 0 0;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.065em;
}
.category-popular_text {
  padding: 10px 0 0 0;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.065em;
  color: #222222;
  font-style: italic;
}

.timeline_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 19px;
}

.body-timeline_subtitle {
  padding: 0 0 18px 13px;
  font-family: "Playfair Display";
  font-size: 20px;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.025em;
  color: #055555;
}
.body-timeline_count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 10px 15px 30px;
}
.body-timeline_column {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.body-timeline_difficult {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #555555;
  opacity: 0.8;
}
.body-timeline_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.body-timeline_line-blue {
  width: 9px;
  height: 68px;
  background-color: #87d0c5;
}
.body-timeline_line-green {
  width: 9px;
  height: 99px;
  background-color: #0d5959;
}
.body-timeline_line-red {
  width: 9px;
  height: 131px;
  background-color: #b50051;
}
.body-timeline_time {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #555555;
  padding: 5px 0 0 0;
}
.body-timeline_under {
  width: 203px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0 15px 0 0;
}
.body-timeline_text {
  padding: 10px 0 35px 0;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: -0.065em;
  color: #6a6a6a;
}

@media (max-width: 967px) {
  .items-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .items_cards-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .items_cards-column:not(:last-child) {
    margin: 0 0 20px 0;
  }

  .calendar {
    display: none;
  }
}
@media (max-width: 680px) {
  .items-cards .card-back:not(:last-child) {
    margin: 0;
  }

  .items_cards-column:first-child {
    display: none;
  }

  .tags {
    display: none;
  }

  .timeline {
    display: none;
  }
}
.log-back {
  width: 328px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
  margin: 0 10px;
}

.log-form {
  width: 265px;
  height: 40px;
  border: 1px solid #c2c2c2;
  -webkit-box-shadow: inset 1px 2px 7px 0px rgba(11, 12, 12, 0.36);
          box-shadow: inset 1px 2px 7px 0px rgba(11, 12, 12, 0.36);
  opacity: 0.8;
  font-family: "Josefin Sans";
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
  padding-left: 18px;
}
.log-form:focus {
  -webkit-box-shadow: 0 0 10px #67c4c4;
          box-shadow: 0 0 10px #67c4c4;
}

.login {
  margin-top: 100px;
}
.login_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 15px;
}
.login_log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 19px 30px 23px 30px;
  margin: 0 0 20px 0;
}
.login_title {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
  padding: 0 0 8px 0;
}
.login_line {
  width: 271px;
  height: 2px;
  opacity: 0.2;
  background-color: #555555;
}
.login_text {
  padding: 29px 0 23px 0;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
}
.login_mail {
  padding: 0 0 15px 0;
}
.login_pass {
  padding: 0 0 15px 0;
}
.login_under {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  opacity: 0.54;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
  padding: 0 0 33px 0;
}
.login_remember input:focus {
  -webkit-box-shadow: 0 0 10px #67c4c4;
          box-shadow: 0 0 10px #67c4c4;
}
.login_forgot a {
  color: #000000;
}
.login_forgot a:focus {
  text-decoration: underline;
}
.login_social {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 25px;
}
.login_social a {
  padding: 0 8px;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #555555;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.login_social a:hover {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #67c4c4;
}
.login_question {
  opacity: 0.54;
  text-align: center;
  font-style: italic;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
}
.login_sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 19px 30px 30px 30px;
}
.login_username {
  padding: 0 0 15px 0;
}
.login_repeat-pass {
  padding: 0 0 28px 0;
}
.login_terms {
  opacity: 0.54;
  font-size: 14px;
  font-style: italic;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
}
.login_terms a {
  text-decoration: underline;
  color: #002dd6;
}
.login_link-log {
  padding: 15px 0 0 0;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #000000;
}

.button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.comments {
  margin-top: 125px;
}
.comments_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 838px;
}
.comments_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 187px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}
.comments_post-block {
  padding: 23px 45px 33px 40px;
}
.comments_post-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.comments_post-title {
  font-size: 24px;
  font-style: italic;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #000000;
}
.comments_post-social {
  padding: 10px 0 14px 0;
  font-style: italic;
}
.comments_post-social a {
  line-height: 1.2;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.025em;
  color: #000000;
}
.comments_post-social a:hover {
  text-decoration: underline;
}
.comments_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 753px;
  height: 89px;
  background-color: #f6f6f6;
}
.comments_message-foto {
  padding: 0 0 0 19px;
}
.comments_input {
  width: 496px;
  height: 40px;
  border: 1px solid #c2c2c2;
}
.comments_input:focus {
  -webkit-box-shadow: 0 0 10px #67c4c4;
          box-shadow: 0 0 10px #67c4c4;
}
.comments_message-button {
  padding: 0 25px 0 0;
}
.post_button {
  width: 87px;
  height: 40px;
  border: 1px solid #c2c2c2;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #ffffff;
  background-color: #555555;
}
.post_button:hover {
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
  background: #7b88a3;
}
.post_button:focus {
  -webkit-box-shadow: 0 0 10px #67c4c4;
          box-shadow: 0 0 10px #67c4c4;
}

.comments_all {
  margin-top: 47px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}
.comments_message-foto {
  display: inline-block;
}

.all-comments {
  padding: 19px 56px 56px 41px;
}
.all-comments_line {
  width: 100%;
  margin: 15px 0;
}
.all-comments_likes {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  opacity: 0.8;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
}
.all-comments_likes i {
  padding-left: 6px;
}
.all-comments_likes i :nth-child(3) {
  padding-left: 12px;
}
.all-comments_first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.all-comments_first-comm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.all-comments_sub-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 0 70px;
}
.all-comments_more {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.all-comments_more a {
  opacity: 0.54;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.all-comments_more a:hover {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.message {
  padding: 0 0 9px 20px;
}
.message-last {
  padding: 0 0 0 20px;
}
.message_what {
  padding: 4px 0 0 0;
  font-weight: 700;
}
.message_what a {
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #629494;
}
.message_what a:hover {
  text-decoration: underline;
}
.message_date {
  padding: 8px 0 0 0;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.025em;
  color: #629494;
}
.message_comment {
  font-weight: 300;
  padding: 17px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.message_comment span {
  padding: 17px 0 0 0;
}
.message_comment-pictures {
  position: relative;
}
.message_comment-pictures .pin {
  position: absolute;
  right: 23px;
  top: 21px;
  z-index: 3;
}
.message_comment-pictures .circle {
  position: absolute;
  right: 10px;
  top: 9px;
  border-radius: 30px;
  width: 54px;
  height: 54px;
  background-color: #ffffff;
  z-index: 2;
}
.message_comment-bold {
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.message_comment-bold span {
  padding: 17px 0 0 0;
}

.sub-first_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 869px) {
  .comments_container {
    width: 100%;
  }

  .comments_message {
    width: 100%;
  }

  .comments_message-input input {
    width: 300px;
  }

  .comments_post-block {
    padding: 20px;
  }

  .all-comments {
    padding: 20px;
  }
}
@media (max-width: 620px) {
  .comments_message-input input {
    width: auto;
  }

  .message_comment-pictures img:first-child {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 480px) {
  .all-comments_first-comm {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .all-comments_sub-first {
    padding: 0 0 0 30px;
  }

  .sub-first_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 380px) {
  .comments_message {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .comments_message-input {
    padding: 0 19px 0 0;
  }

  .comments_message-button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0 19px 0 0;
  }

  .comments_message-button form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .post_button {
    height: 30px;
  }

  .comments_post-up {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.comments_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 44px;
  height: 92px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.15);
}
.comments_pages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.comments_pages-elem {
  padding: 0 15px;
}
.comments_pages-elem a {
  font-family: "Josefin Sans";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.comments_pages-elem:hover a {
  color: #629494;
  font-weight: 500;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer {
  margin-top: 150px;
}
.footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 54px 0 86px;
  min-height: 180px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.8;
  background-color: #000000;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(11, 12, 12, 0.14);
          box-shadow: 0px 3px 7px 0px rgba(11, 12, 12, 0.14);
}
.footer_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_row-social {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.footer_item:not(:last-child) {
  margin: 0 12.5px;
}
.footer_item:last-child {
  margin: 0 12.5px;
}
.footer_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer_copy {
  opacity: 0.5;
  font-family: "Josefin Sans";
  font-size: 12px;
  line-height: 1.2;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  color: #fefefe;
}
.footer_social a {
  padding: 0 5px;
  color: #555555;
}
.footer_social :nth-child(3) {
  font-size: 14.3px;
}

.menu_link-footer {
  min-height: 180px;
  background-color: #000000;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(11, 12, 12, 0.14);
          box-shadow: 0px 3px 7px 0px rgba(11, 12, 12, 0.14);
  opacity: 0.5;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2;
  color: #fefefe;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
.menu_link-footer:hover {
  text-decoration: underline;
}

@media (max-width: 979px) {
  .footer_container {
    padding: 20px;
  }

  .footer_list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer_item {
    padding: 10px 0;
  }

  .footer_row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer_row-social {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 20px 0 0 0;
  }
}
@media (max-width: 420px) {
  .cards {
    margin-top: 2px;
  }

  .login {
    margin-top: 20px;
  }

  .comments {
    margin-top: 20px;
  }

  .comments_pages {
    margin-top: 2px;
  }

  .footer {
    margin-top: 2px;
  }

  .items_cards-column:not(:last-child) {
    margin: 0;
  }

  .card-back {
    width: 100%;
  }

  .recipes {
    margin-top: 2px;
  }

  .comments_all {
    margin-top: 2px;
  }

  .main-block_hidden-button {
    display: block;
    background-color: #fff;
  }

  .search-form {
    width: 125px;
    padding-left: 22px;
  }
}